{% extends "base.html" %}

{% block title %}
Başvurularım
{% endblock %}


{% block content %}

<h1>Başvurularım</h1>

<a href="{% url 'applications:create' %}">
    Yeni Başvuru Ekle
</a>

<hr>

{% if applications %}

    {% for application in applications %}

        <div>

            <h2>
                <a href="{% url 'applications:detail' application.slug %}">
                    {{ application.company }}
                    -
                    {{ application.position }}
                </a>
            </h2>

            <p>
                Durum:
                {{ application.get_status_display }}
            </p>

            <p>
                Başvuru Tarihi:
                {{ application.application_date }}
            </p>

        </div>

        <hr>

    {% endfor %}

{% else %}

    <p>Henüz kayıtlı bir başvurunuz bulunmuyor.</p>

{% endif %}

{% endblock %}